body {
    color: rgb(255, 255, 255);
    background-color: #c8cace;
}

.stButton>button {
    color: #fdfdfd;
    background-color: rgb(27, 97, 226);
}

.reportview-container .main .block-container {
    max-width: 95%;
    padding-top: 0em;
}

.stTitle>title {
    color: black;
}